UIPerson/Service References/WcfSvcPerson/SvsPerson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SvsPerson" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63665/SvsPerson.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63665/SvsPerson.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63665/SvsPerson.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DALPersonEF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISvsPerson_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISvsPerson_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISvsPerson_GetPersonLong_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonLong" />
  </wsdl:message>
  <wsdl:message name="ISvsPerson_GetPersonLong_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonLongResponse" />
  </wsdl:message>
  <wsdl:portType name="ISvsPerson">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvsPerson/DoWork" message="tns:ISvsPerson_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvsPerson/DoWorkResponse" message="tns:ISvsPerson_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonLong">
      <wsdl:input wsaw:Action="http://tempuri.org/ISvsPerson/GetPersonLong" message="tns:ISvsPerson_GetPersonLong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISvsPerson/GetPersonLongResponse" message="tns:ISvsPerson_GetPersonLong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISvsPerson" type="tns:ISvsPerson">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISvsPerson/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonLong">
      <soap:operation soapAction="http://tempuri.org/ISvsPerson/GetPersonLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SvsPerson">
    <wsdl:port name="BasicHttpBinding_ISvsPerson" binding="tns:BasicHttpBinding_ISvsPerson">
      <soap:address location="http://localhost:63665/SvsPerson.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>